$ball-width: 60px;

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.right-section {
    display: grid;
    grid-template-columns: $ball-width 1fr;
    background-color: cadetblue;

    .right-section__panel {
        height: 400px;
        background-color: black;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .transition {
        width: 100vw;
        max-width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        height: 400px;
        background-color: grey;
    }
}

.left-section {
    display: grid;
    grid-template-columns: 1fr $ball-width ;
    background-color: cadetblue;

    .left-section__panel {
        height: 400px;
        background-color: black;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .transition {
        width: 100vw;
        max-width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        height: 400px;
        background-color: grey;
    }
}
