* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.right-section {
  display: grid;
  grid-template-columns: 60px 1fr;
  background-color: cadetblue;
}
.right-section .right-section__panel {
  height: 400px;
  background-color: black;
  grid-column-start: 2;
  grid-column-end: 3;
}
.right-section .transition {
  width: 100vw;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 400px;
  background-color: grey;
}

.left-section {
  display: grid;
  grid-template-columns: 1fr 60px;
  background-color: cadetblue;
}
.left-section .left-section__panel {
  height: 400px;
  background-color: black;
  grid-column-start: 1;
  grid-column-end: 2;
}
.left-section .transition {
  width: 100vw;
  max-width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 400px;
  background-color: grey;
}